node_modules
package-lock.json
**/.antlr/
out
.webpack
public/bundle.js
.directory
ihateintegrals/target
ihateintegrals/pkg
public/*.wasm
ihateintegrals/Cargo.lock
pkg
ihateintegrals/src/derivation_rules/integral_of_arctrig.rs
public/*.js
