html,
body {
    width: 100%;
    height: 100%;
}

#inputZone {
    display: flex;
    flex-direction: row;
    min-width: 30em;
    
}

#inputZone > * {
    flex-grow: 1;
}

.MathJax {
    font-size: 1.7em;
}
